#main-section,
#main-section-back,
.main-section-container,
.about-section,
.parts-sections,
section.skills {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

.background-section {
  z-index: -10;
  position: absolute;
}

.content-section {
  position: relative;
  z-index: 10;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#main-section {
  background-image: url(../assets/fondo.png);
  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-size: auto ;
  -webkit-box-shadow: 2px 2px 5px #999;
          box-shadow: 2px 2px 5px #999;
}

.main-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(4, 10, 18, 0.7);
}

.main-section-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 50vw;
  height: 15vh;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  background-color: #2B89AF;
  margin-bottom: 20px;
}

.main-section-container h2 {
  font-family: 'Arvo';
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.icons {
  font-size: 1.9rem;
}

.icons a {
  text-decoration: none;
  color: white;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section h1 {
  font-size: 2.5rem;
  font-family: Fira Sans;
  color: #4F4F4F;
}

.about-section img {
  height: 200px;
  width: 200px;
}

.about-section p {
  font-family: Raleway;
  color: #4F4F4F;
  font-size: 1.4rem;
  text-align: center;
  width: 70%;
  font-weight: 300;
}

.parts-sections {
  position: relative;
}

.part-back {
  position: absolute;
}

.part-svg1 {
  position: absolute;
  margin-left: 0px;
  margin-top: 60px;
}

.part-svg3 {
  margin-left: 80vw;
  margin-top: -100px;
}

.part {
  height: 50vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part h3 {
  font-family: Fira Sans;
  font-weight: 300;
  position: absolute;
  margin-top: -15vh;
  font-size: 1.45rem;
}

.part p {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.35rem;
  width: 70%;
  text-align: center;
}

.part-dev {
  background-color: #2D3F51;
}

.part-dev h3 {
  position: absolute;
  left: 5vw;
  color: white;
}

.part-dev p {
  color: white;
}

.part-design {
  -webkit-box-shadow: .25px .25px .75px #dadada;
          box-shadow: .25px .25px .75px #dadada;
}

.part-design h3 {
  left: 85vw;
  color: #4F4F4F;
}

.part-design p {
  color: #4F4F4F;
}

section.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dev-skills, .design-skills {
  height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-skills h3, .design-skills h3 {
  margin-top: 5vh;
  font-size: 1.45rem;
  font-family: Fira Sans;
}

.dev-skills .list-skill, .design-skills .list-skill {
  width: 80%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dev-skills {
  z-index: 10;
  background-color: #2D3F51;
}

.dev-skills h3 {
  color: white;
}

.design-skills h3 {
  color: #4F4F4F;
}

.Progress-label {
  font-size: 1em;
  font-family: Raleway;
  display: block;
}

.Progress-label-dev {
  color: white;
}

.Progress-label-design {
  color: #4F4F4F;
}

.Progress-main {
  background-color: red;
  display: block;
  width: 100%;
  height: 0.3em;
  margin-top: 0.75em;
}

.Progress-main::-moz-progress-bar {
  background: #f0f0f0;
}

.Progress-main::-webkit-progress-bar {
  background: #333;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-main::-webkit-progress-value {
  background: #f0f0f0;
}

.Progress-main::-ms-fill {
  background: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-bar {
  margin-top: 0.95em;
  background-color: #333;
  height: 0.3em;
}

.Progress-value {
  background-color: #f0f0f0;
  display: block;
  height: 0.3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.2);
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  font-family: Raleway;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 9px 5px;
  border-radius: 6px;
  top: -5px;
  left: 110%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */